:root {
    --primary-color: #8E2424;
    --logo-color: #3A404E;
    --texto-dark-color: #101828;
    --texto-light-color: #667085;
    --rodape-color: #98A2B3;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: 'inter', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 33rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cabecalho__logo__titulo {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--logo-color);
    text-decoration: none;
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    gap: 14rem;
}

.lista {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}

.lista__item__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--texto-light-color);
}

.cabecalho__acoes {
    display: flex;
    gap: 1rem;
}

.cabecalho__acoes__botao {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    color: var(--texto-light-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.8rem;
}

.cabecalho__acoes__botao:last-child {
    background-color: var(--primary-color);
    color: white;
}

.principal {
    padding: 10rem 33rem;
}

.section-cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 0 23rem;
}

.section-cabecalho__sobre-nos {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.section-cabecalho__title {
    color: var(--texto-dark-color);
    font-size: 4.8rem;
    font-weight: 600;
    text-align: center;
}

.section-cabecalho__texto {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 1705px) {
    .cabecalho{
        padding: 3rem 10rem;
    }

    .principal {
        padding: 10rem;
    }

    .section-cabecalho {
        margin: 0 30rem;
    }
}

@media (max-width: 1120px) {
    .cabecalho__logo {
        display: none;
    }

    .principal {
        padding: 10rem 0;
    }

    .section-cabecalho {
        margin: 0 10rem;
    }
}

@media (max-width: 830px) {
    .cabecalho {
        padding: 3rem 5rem;
    }
    
    .section-cabecalho {
        margin: 0 4rem;
    }
}

@media (max-width: 740px) {
    .cabecalho {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .principal {
        padding: 8rem 0;
    }

}

@media (max-width: 460px) {
    .lista {
        flex-wrap: wrap;
        justify-content: center;
    }
}