:root {
    --primary-color: #8E2424;
    --logo-color: #3A404E;
    --texto-dark-color: #101828;
    --texto-light-color: #667085;
    --rodape-color: #98A2B3;
    --border-color: #EAECF0;
    --background-rodape: #F9FAFB;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: 'inter', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 33rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.cabecalho__logo__titulo {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--logo-color);
    text-decoration: none;
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    gap: 14rem;
}

.lista {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}

.lista__item__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--texto-light-color);
}

.cabecalho__acoes {
    display: flex;
    gap: 1rem;
}

.cabecalho__acoes__botao {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    color: var(--texto-light-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.8rem;
}

.cabecalho__acoes__botao:last-child {
    background-color: var(--primary-color);
    color: white;
}

.section-cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    padding: 9.6rem 56rem;
}

.section-cabecalho__sobre-nos {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.section-cabecalho__title {
    color: var(--texto-dark-color);
    font-size: 4.8rem;
    font-weight: 600;
    text-align: center;
}

.section-cabecalho__texto {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.metricas {
    padding: 0 33rem 9.6rem 33rem;
    display: flex;
    justify-content: space-between;
    gap: 6.4rem;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.informacoes__numero {
    font-weight: 600;
    font-size: 6rem;
    color: var(--primary-color);
}

.informacoes__titulo {
    font-weight: 500;
    color: var(--texto-dark-color);
    font-size: 1.8rem;
}

.informacoes__descricao {
    color: var(--texto-light-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: start;
}

.vagas {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding: 9.6rem 33rem;
}

.vagas__cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding: 0 3.2rem;
}

.vagas__cabecalho__vagas-abertas {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 0.4rem 1.2rem;
    border-radius: 1.6rem;
    text-align: center;
}

.vagas__cabecalho__title {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--texto-dark-color);
    text-align: center;
}

.vagas__cabecalho__texto {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.lista-cargos {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    align-self: center;
    width: 60%;
}

.cargo {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.cargo__title {
    font-weight: 500;
    color: var(--texto-dark-color);
    font-size: 2rem;
}

.lista-ocupacoes {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.ocupacao {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2.4rem;
    border: 1px solid var(--border-color);
    border-radius: 1.6rem;
    padding: 2.4rem 2.4rem 2.8rem 2.4rem;
}

.ocupacao__title {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--texto-dark-color);
}

.descricao {
    display: flex;
    gap: 2.4rem;
    color: var(--texto-light-color);
    font-weight: 500;
    font-size: 1.6rem;
}

.depoimento {
    background-color: rgba(195, 25, 25, 0.03);
    margin: 0 33rem 9.6rem 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.6rem;
    gap: 3.2rem;
    padding: 6.4rem;
}

.depoimento__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.depoimento__header__title {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.depoimento__header__text {
    color: var(--texto-dark-color);
    font-size: 3.6rem;
    font-weight: 500;
    text-align: center;
}

.depoimento__colaborador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.depoimento__colaborador__img {
    width: 5.6rem;
    height: 5.6rem;
}

.depoimento__colaborador__nome {
    color: var(--texto-dark-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.depoimento__colaborador__cargo {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 1.4rem;
}

.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-rodape);
    padding: 9.6rem 0;
    gap: 3.2rem
}

.rodape__formulario {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.rodape__formulario__email {
    display: flex;
    gap: 1.6rem;
    width: 80%;
    justify-content: center;
}

.rodape__formulario__titulo {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--texto-dark-color);
    text-align: center;
}

.rodape__formulario__subtitulo {
    font-weight: 400;
    font-size: 2rem;
    color: var(--texto-light-color);
    text-align: center;
}

.rodape__formulario__email__input {
    border-radius: .8rem;
    border: 1px solid #D0D5DD;
    padding: 1.2rem 1.4rem 1.2rem 1.6rem;
    flex-grow: 1;
    font-size: 1.6rem;
}

.rodape__formulario__email__input::placeholder {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.rodape__formulario__email__btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: .8rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
}

.copyright {
    color: var(--rodape-color);
    font-weight: 400;
    font-size: 1.6rem;
}

@media (max-width: 1705px) {
    .cabecalho{
        padding: 3rem 10rem;
    }

    .section-cabecalho {
        padding: 9.6rem 45rem;
    }

    .metricas {
        padding: 0 10rem 9.6rem 10rem;
    }

    .depoimento {
        margin: 0 10rem 9.6rem 10rem;
        padding: 6.4rem 18rem;
    }

    .vagas {
        padding: 9.6rem 10rem;
    }
}

@media (max-width: 1500px) {
    .section-cabecalho {
        padding: 9.6rem 35rem;
    }
}

@media (max-width: 1300px) {
    .section-cabecalho {
        padding: 9.6rem 25rem;
    }

    .lista-cargos {
        width: 70%;
    }

    .depoimento {
        margin: 0 5rem 9.6rem 5rem;
        padding: 6.4rem 5rem;
    }
}

@media (max-width: 1100px) {
    .cabecalho__logo {
        display: none;
    }

    .section-cabecalho {
        padding: 9.6rem 15rem;
    }

    .lista-cargos {
        width: 80%;
    }

    .depoimento {
        padding: 6.4rem 3rem;
    }
}

@media (max-width: 1000px) {
    .section-cabecalho {
        padding: 9.6rem 5rem;
    }

    .metricas {
        padding: 0 5rem 9.6rem 5rem;
    }

    .vagas {
        padding: 9.6rem 5rem;
    }

    .lista-cargos {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .section-cabecalho {
        padding: 9.6rem 5rem;
    }

    .metricas {
        display: flex;
        flex-direction: column;
        padding: 0 10rem 9.6rem 10rem;
        gap: 12rem;
    }

    .informacoes {
        text-align: center;
        gap: 2rem;
    }

    .informacoes__descricao {
        text-align: center;
    }
}


@media (max-width: 830px) {
    .cabecalho {
        padding: 3rem 5rem;
    }
    
    .section-cabecalho {
        padding: 9.6rem 4rem;
    }
}


@media (max-width: 765px) {
    .vagas__cabecalho {
        padding: 0;
    }

    .lista-cargos {
        width: 100%;
    }

    .depoimento {
        padding: 6.4rem 1rem;
    }

    .depoimento__header__text {
        color: var(--texto-dark-color);
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }

    .depoimento__header__title {
        font-size: 1.2rem;
    }

    .depoimento__colaborador__nome {
        font-size: 1.4rem;
    }

    .depoimento__colaborador__cargo {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 740px) {
    .cabecalho {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .section-cabecalho {
        padding: 8rem 4rem;
    }
}

@media (max-width: 700px) {
    /* .vagas {
        padding: 9.6rem 2rem;
    } */
}

@media (max-width: 460px) {
    .lista {
        flex-wrap: wrap;
        justify-content: center;
    }

    .vagas {
        padding: 9.6rem 1rem;
    }
}