:root {
    --primary-color: #8E2424;
    --logo-color: #3A404E;
    --texto-dark-color: #101828;
    --texto-light-color: #667085;
    --rodape-color: #98A2B3;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: 'inter', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 33rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.cabecalho__logo__titulo {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--logo-color);
    text-decoration: none;
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    gap: 14rem;
}

.lista {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}

.lista__item__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--texto-light-color);
}

.cabecalho__acoes {
    display: flex;
    gap: 1rem;
}

.cabecalho__acoes__botao {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    color: var(--texto-light-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.8rem;
}

.cabecalho__acoes__botao:last-child {
    background-color: var(--primary-color);
    color: white;
}

.section-cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    padding: 9.6rem 56rem;
}

.section-cabecalho__sobre-nos {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.section-cabecalho__title {
    color: var(--texto-dark-color);
    font-size: 4.8rem;
    font-weight: 600;
    text-align: center;
}

.section-cabecalho__texto {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.metricas {
    padding: 0 33rem 9.6rem 33rem;
    display: flex;
    justify-content: space-between;
    gap: 6.4rem;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.informacoes__numero {
    font-weight: 600;
    font-size: 6rem;
    color: var(--primary-color);
}

.informacoes__titulo {
    font-weight: 500;
    color: var(--texto-dark-color);
    font-size: 1.8rem;
}

.informacoes__descricao {
    color: var(--texto-light-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: start;
}

.vagas {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding: 9.6rem 33rem;
}

.vagas__cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding: 0 3.2rem;
}

.vagas__cabecalho__vagas-abertas {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 0.4rem 1.2rem;
    border-radius: 1.6rem;
    text-align: center;
}

.vagas__cabecalho__title {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--texto-dark-color);
    text-align: center;
}

.vagas__cabecalho__texto {
    color: var(--texto-light-color);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 1705px) {
    .cabecalho{
        padding: 3rem 10rem;
    }

    .section-cabecalho {
        padding: 9.6rem 45rem;
    }

    .metricas {
        padding: 0 10rem 9.6rem 10rem;
    }

    .vagas {
        padding: 9.6rem 10rem;
    }
}

@media (max-width: 1500px) {
    .section-cabecalho {
        padding: 9.6rem 35rem;
    }
}

@media (max-width: 1300px) {
    .section-cabecalho {
        padding: 9.6rem 25rem;
    }
}

@media (max-width: 1100px) {
    .cabecalho__logo {
        display: none;
    }

    .section-cabecalho {
        padding: 9.6rem 15rem;
    }
}

@media (max-width: 1000px) {
    .section-cabecalho {
        padding: 9.6rem 5rem;
    }

    .metricas {
        padding: 0 5rem 9.6rem 5rem;
    }

    .vagas {
        padding: 9.6rem 5rem;
    }
}

@media (max-width: 900px) {
    .section-cabecalho {
        padding: 9.6rem 5rem;
    }

    .metricas {
        display: flex;
        flex-direction: column;
        padding: 0 10rem 9.6rem 10rem;
        gap: 12rem;
    }

    .informacoes {
        text-align: center;
        gap: 2rem;
    }

    .informacoes__descricao {
        text-align: center;
    }
}


@media (max-width: 830px) {
    .cabecalho {
        padding: 3rem 5rem;
    }
    
    .section-cabecalho {
        padding: 9.6rem 4rem;
    }
}


@media (max-width: 765px) {
    .vagas__cabecalho {
        padding: 0;
    }
}



@media (max-width: 740px) {
    .cabecalho {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .section-cabecalho {
        padding: 8rem 4rem;
    }
}

@media (max-width: 700px) {
    /* .vagas {
        padding: 9.6rem 2rem;
    } */
}

@media (max-width: 460px) {
    .lista {
        flex-wrap: wrap;
        justify-content: center;
    }

    .vagas {
        padding: 9.6rem 1rem;
    }
}